body{
    font-family: 'New Tegomin';
    font-size: 13pt;
    padding-top: 0%;
    margin-top: 0%;
    pad: 0;
    margin: 0%;
    background-color: #f6d1de ;
}
/*Menu*/
.m-t-menu {
    text-align: center;
    background:#f3a8c2;
    border: 2px solid white;
    border-radius: 5px;
}

.menu {
    margin-top: 20px;
    text-align: center;
}

.img-r {
    height: 20px;
}

.img-c {
    height: 20px;
}

.img-con {
    height: 20px;
}

.letra-menu {
    color: #000;
}

.letra-menu:hover {
    text-decoration: none;
    text-decoration-line: none;
}
/*Menu*/

/*acerca de nosotros*/
#carouselExampleSlidesOnly{
    margin: 50px;
}
.carousel-item{
    color: #000;
}
.btn{
    background-color: white;
    color: black;
}
.sub-titulo{
    text-align: center;
    padding: 1px;
    background-color: #f3a8c2;
    box-shadow: #000;
    font-size: 10px;
    border: solid white 2px;
}
.sub-t{
    color: #000;
}
.nosotros{
    border:  solid 1px;
    margin-top: 10px;
    box-shadow: #f6d1de 5px 5px 5px;
    border-radius: 10px;
    background: #f3a8c2;
    text-align: center;
    box-shadow: 0 0 10px rgb(48, 47, 48);
}
.n-letra{
    color: #000;
    text-align: center;
}
.n-img{
    border-radius: 10px;
}
/*acerca de nosotros*/

/*pasteles destacados del mes*/
.card-deck{
    padding: 100px;
    padding-top: 50px;
    border-radius: 10px ;
    margin-top: 50px;
    margin-bottom: 50px;
    background:  #f3a8c2;
    padding-top: 10px;
    box-shadow: #000 5px 5px 50px;
    border: black solid 2px;
}
.card{
    border-radius: 10px;
    min-height: auto;
    width: auto;
    box-shadow: rgb(180, 180, 180) 5px 5px 30px;
}
.card-img-top{
    border-radius: 10px;
    height: auto;
    width:  auto;
}
.n-stock{
    text-align: center;
    font-size: 12pt;
}
/*pasteles destacados del mes*/

/*sub titulo*/
.sub-titulo{
   color: lavenderblush;
}
/*sub titulo*/

/*footer*/
.img-face{
    width: 40px;
    height: 40px;
}
.img-twitter{
    width: 40px;
    height: 40px;
}
.img-wha{
    width: 40px;
    height: 40px;
}
.img-ig{
    width: 40px;
    height: 40px;

}
#logo-footer{
    background-color: #f3a8c2;
    height: 100px;
    width: 100px;
    padding: 10px;
    float: left;
}
footer{
    background-color:#f3a8c2;
}
.footer-copyright{
    padding: 50px;
}
#letra{
    color: #000;
}
/*footer*/


/*
.searchbox{
    padding: 10px 20px;
    max-width: 180px;
    margin: 0px auto;
    border-radius: 3px;
    float: left;
}
.search{
    width: 250px;
    font-size: 0.9rem;
}
.search:focus{
    outline: none;
}
.search-form{
    margin: 20px 20px;
}
.weather-card{
    margin: 20px 20px;
    background-color: #f6d1de;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    float: left;
    display: none;
    border: black solid 2px;
}
.city{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.date{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.temperatura-img{
    width: 50px;
    margin-right: 10px;
}
.temperatura{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.temp{
    font-size: 2.2rem;
    font-weight: bold;
}
.weather{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.tempImg{
   width: 50px;
}
*/